<div style="overflow: auto;margin: 20px 0">
  <div style="width: 80%;float: left">
    <div style="width: 25%;float: left" *ngFor="let s of allStatuses">
      <input type="checkbox" [(ngModel)]="s.checked" (change)="filterList(s)">
      <label>{{s.status}}</label>
    </div>
  </div>  
  <div style="width: 20%;float: left">
    <label for="th" style="display: block;">Th/Q/A</label>
    <select id="th" [(ngModel)]="filterObj.thValue">
      <option value="">Select</option>
      <option *ngFor="let th of thArray" [value]="th">
        {{th}}
      </option>
    </select>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Tx Plan Date</th>
      <th>Th</th>
      <th>Surface</th>
      <th>Code</th>
      <th>Procedure Description</th>
      <th>Plan Type</th>
      <th>Visit</th>
      <th>Status</th>
      <th>Provider</th>
      <th>Office</th>
      <th>DOS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of originalTabledata | filterPipe: filterObj">
      <td>{{a.txdate}}</td>
      <td>{{a.th}}</td>
      <td>{{a.surface}}</td>
      <td>{{a.code}}</td>
      <td>{{a.procedure}}</td>
      <td>{{a.plantype}}</td>
      <td>{{a.visit}}</td>
      <td>{{a.status}}</td>
      <td>{{a.provider}}</td>
      <td>{{a.office}}</td>
      <td>{{a.dos}}</td>
    </tr>
    <tr *ngIf="(originalTabledata | filterPipe: filterObj).length === 0">
      <td colspan="11" style="text-align: center;">No records found</td>
    </tr>
  </tbody>
</table>